@page
@model CinemaBooking.Pages.Admin.Account.Edit

@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit Account";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/style.css">
</head>

<body>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Edit Account</h4>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Account.AccountId" type="hidden" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.Username">Username</label>
                        <input asp-for="Account.Username" class="form-control" placeholder="Enter username" required />
                        <span asp-validation-for="Account.Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.Avatar">Avatar</label>
                        <input asp-for="Account.Avatar" type="file" class="form-control-file" accept="image/*" />
                        <span asp-validation-for="Account.Avatar" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.Gender">Gender</label>
                        <select asp-for="Account.Gender" class="form-control" required>
                            <option value="">Select gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <span asp-validation-for="Account.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.PhoneNumber">Phone Number</label>
                        <input asp-for="Account.PhoneNumber" class="form-control" placeholder="Enter phone number" />
                        <span asp-validation-for="Account.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.DateOfBirth">Date of Birth</label>
                        <input asp-for="Account.DateOfBirth" type="date" class="form-control" />
                        <span asp-validation-for="Account.DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.Email">Email</label>
                        <input asp-for="Account.Email" type="email" class="form-control" placeholder="Enter email" required />
                        <span asp-validation-for="Account.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Password field has been removed -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.Status">Status</label>
                        <select asp-for="Account.Status" class="form-control" required>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="Account.Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Account.RoleId">Role</label>
                        <select asp-for="Account.RoleId" class="form-control" required>
                            <option value="">Select role</option>
                            @* @foreach (var role in Model.Input.Roles) *@
                            @* { *@
                            @* <option value="@role.Value">@role.Text</option> *@
                            @* } *@
                        </select>
                        <span asp-validation-for="Account.RoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Edit User</button>
        </form>

    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="~/admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/bootstrap.min.js"></script>
<script src="~/admin/assets/js/jquery.dataTables.min.js"></script>
<script src="~/admin/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="~/admin/assets/js/jquery.slimscroll.js"></script>
<script src="~/admin/assets/js/select2.min.js"></script>
<script src="~/admin/assets/js/moment.min.js"></script>
<script src="~/admin/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/admin/assets/js/app.js"></script>
</body>

</html>