@page
@using Microsoft.AspNetCore.Razor.TagHelpers
@model CinemaBooking.Pages.Payment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Thanh toán VNPAY</h2>

<form method="post">
    FullName <input type="text" asp-for="PaymentRequest.FullName" />
    Description <input type="text" asp-for="PaymentRequest.Description" />
    Amount <input type="number" asp-for="PaymentRequest.Amount" />

    <button type="submit">Go bruhhh</button>
</form>