@page
@model CinemaBooking.Pages.vc
<h2>Thanh toán VNPAY</h2>

<form method="post">
    <div>
        <label>Số tiền:</label>
        <input asp-for="Amount" type="number" required />
    </div>
    vc
    <button type="submit">Thanh toán</button>
</form>